@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

html{
    font-size: 10px;
    scroll-behavior: smooth;
    
}
body{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #D9D9D9;
    background-color: #000;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.header{
    
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.background-img{
    position: absolute;
    right: 0;
    top: 0;
    z-index:-1;
    width: 44.5rem;
    height: 72rem;
}
.mph{
    position: relative;
}
.oval-round{
    position: absolute;
    left: -15%;
    bottom: 40px;

}
.flex{
    display: flex;
    justify-content: flex-end;
    height: 8rem;
    align-items: center;
    position: relative;
    margin-bottom: 3rem;
}

.nav{
    width: 75%;
    z-index: 3;
    text-transform: uppercase;
    font-size: 1.6rem;
}
.menu{
    display: flex;
    justify-content: space-between;
}
.menu__link{
transition: 0.3s ease-in;
}
.menu__link:hover{
color:#4EE1A0;
}
.welcome{
    min-height: 47rem;
    position: relative;
    z-index: 1
}
.welcome__wrapper{
    position: relative;
}
.decoration{
    position: absolute;
    left: -15%;
    top: -15%;
    z-index: 999;
    padding: 0 1.5rem;
}

.welcome__title {
    margin-top: 7rem;
}


.welcome__header {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -2.5px;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 7rem;

}
.welcome__span{
    display: inline-block;
    position: relative;
}
.welcome__span::after {
    content:'';
    width: 100%;
    height: 0.5rem ;
    background-color :#4EE1A0;
    position: absolute;
    bottom: 0;
    left: 0; 
}
.welcome__subtitle {
}
.welcome__subheader {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.8rem;
    color: #D9D9D9;
    text-transform: uppercase;
    

}
.contact-me {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.6rem;
    letter-spacing: 0.228rem;
    color: #4EE1A0;
    position: relative;
    display: inline;
    padding-bottom: 1rem;
    text-transform: uppercase;
    margin-top: 7rem;
}
.contact-me::after{
    content:'';
    width: 100%;
    height: 0.005rem ;
    background-color :#4EE1A0;
    position: absolute;
    bottom: 0;
    left: 0; 
}
.contacts {
    min-height: 90vh;
    
}
.contacts__block {
}
.contacts__title {
    text-align: center;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 88px;
    letter-spacing: -2.5px;
    color: #FFFFFF;
    position: relative;
    
}
.contacts__title:after{
    content:'';
    width: 35%;
    margin: 0 50%;
    transform: translate(-50%);
    height: 0.3rem;
    background-color:#4EE1A0;
    position: absolute;
    bottom: 0;
    left: 0;

}
.contacts__header {
}
.contacts__menu {
    display: flex;
    flex-wrap: wrap;
}
.contacts__item {
    width: 50%;
    padding: 10rem;
    text-align: center;
    border: 1px solid #2C2C2C;
    
    
}
.contacts__menu {
}
.contacts__item img {
    width: 8rem;
    
}
.contacts__item a{
    justify-content: center;
}
.about-me {
    min-height: 90vh;
    margin-top: 10rem;
}

.about-me__title {
    text-align: center;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -2.04545px;
    color: #FFFFFF;
    position: relative;
    padding-bottom: 0.5rem;
    display: block;
    
}
.about-me__title::after{
    content:'';
    width: 25%;
    margin: 0 50%;
    transform: translate(-50%);
    height: 0.3rem;
    background-color:#4EE1A0;
    position: absolute;
    bottom: 0;
    left: 0;
}
.about-me__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items:center;
    
}
.about-me__pic {
    width: 30%;
    height: 45rem;
    background-size:cover;
    background-position: center;
}
.about-me__description {
    width: 70%;
    padding: 5rem;

}
.about-me__text {
    line-height: 3rem;
}
.about-me__image{
    
}
.skills{
    min-height: 90vh;
    margin-top: 1rem;
    margin-bottom: 4rem;
}
.skills__title {
    text-align: center;
    text-align: center;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -2.04545px;
    color: #FFFFFF;
    position: relative;
    margin-bottom: 2rem;
}
.skills__title::after{
    content:'';
    width: 15%;
    margin: 0 50%;
    transform: translate(-50%);
    height: 0.3rem;
    background-color:#4EE1A0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.skills__header {
    position: relative;
}
.decoration2 {
    position: absolute;
    right: -30%;
    bottom: 320%;
}
.skills__wrapper {
}
.skills__list {
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
}
.skills__item {
    display: flex;
    width: 33%;
    padding: 10rem;
    flex-direction: column;
    align-items:center;
    transition: 0.5s;
    border: 1px solid #2C2C2C;
    border-top: none;
    border-bottom: none;
}
.skills__item:hover{
    background-color:#4EE1A0;
    color: #333;
}
.skills__icon1{
    width: 5rem;
    height: auto;
    align-items: center;
}
.skills__icon{
    width: 6rem;
    height: auto;
    align-items: center;
    margin-top: 1rem;
}
.code-example {
    min-height: 40vh;
}
.code-example__title {
    text-align: center;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -2.04545px;
    color: #FFFFFF;
    position: relative;
    margin-bottom: 2rem;
}
.code-example__title::after{
    content:'';
    width: 35%;
    margin: 0 50%;
    transform: translate(-50%);
    height: 0.3rem;
    background-color:#4EE1A0;
    position: absolute;
    bottom: 0;
    left: 0;
}
.code-example__wrapper {
    border: 1px solid ;
    display: inline-block;
    margin: 0  50%;
    transform: translate(-50%);
    background-color:#d9d9d9;
    margin-top: 5rem;
}
.code-example__code {
    padding: 7rem;
    text-align: center;
    color:#333;
}
.projects{
    min-height: 50vh;
    margin-top: 1rem;
    margin-top: 10rem;
}
.projects__title {
    text-align: center;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -2.04545px;
    color: #FFFFFF;
    position: relative;
    margin-bottom: 2rem;
}
.projects__title:after{
    content:'';
    width: 50%;
    margin: 0 50%;
    transform: translate(-50%);
    height: 0.3rem;
    background-color:#4EE1A0;
    position: absolute;
    bottom: 0;
    left: 0;
    
}
.projects__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.projects__card {
    width: 30%;
    padding: 5rem;
}

.projects__image {
    width: 100%;
}
.projects__name {
    text-align: center;
    margin-top: 2rem;
}
.projects__tech-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 2rem;
}
.project__icons {
    display: flex;
}
.ico{
    align-items:center;
    width: 2rem;
    margin-bottom: 1rem;
}
.ico1{
    align-items:center;
    height: 3rem;
}
.projects__list:not(:last-child) {
    margin-right: 1rem;

}
.project__pic{
    transition: 0.5s ease-in;
}
.project__pic:hover{
transform: scale(2.1);
}
.education {
    margin-top: 8rem;
    min-height: 90vh;
    background-color: rgb(15, 15, 15);

}
.education__title {
    text-align: center;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -2.04545px;
    color: #FFFFFF;
    position: relative;
    
}
.education__title:after{
    content:'';
    width: 27%;
    margin: 0 50%;
    transform: translate(-50%);
    height: 0.3rem;
    background-color:#4EE1A0;
    position: absolute;
    bottom: 0;
    left: 0;
}
.footer{
    position: relative;
}
.margin{
    margin-top: 6rem;
}

.decoration{
        stroke-dasharray: 100%;
        stroke-dasharray: 0 100;
        fill: none;
        stroke: rgb(255, 255, 255);
        stroke-width: 1px;
        animation: progress 3s linear forwards;     
}
@keyframes progress {
    from {
    stroke-dasharray: 100%;
    }
    to {
    stroke-dasharray: 300%;
    }
}
.decoration2{
    stroke-dasharray: 100%;
    stroke-dasharray: 100 0;
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-width: 1px;
    animation: progress 3s linear forwards;     
}
@keyframes progress {
from {
stroke-dasharray: 100%;
}
to {
stroke-dasharray: 300%;
}
}

.education__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.education__wrapper li{
    padding: 2rem 0;
    margin-left: ;
}
.education__wrapper li a{
    margin-left: 3rem;
}
.education__wrapper li p{
    margin-left: 7rem;
}
.education__where {
    flex-direction: column;
    display: flex;
    width: 50%;
    
}
.eng-level {
    display: flex;
    flex-direction: column;
}

.books-icon {
    width: 4rem;
    ;
}
